VITE_ENABLE_REPORT_ISSUE=true
VITE_PREAPPOINTMENT_API_URL='' # Enter the URL of your pre-appointment API here. This is used to fetch the pre-appointment form configuration and to submit the pre-appointment form data.
VITE_BANKING_NOVASONIC_ID='' # Enter your Novasonic ID for the banking experience here. This is used to fetch the correct prompts for the Novasonic agent.
VITE_HEALTHCARE_NOVASONIC_ID='' # Enter your Novasonic ID for the healthcare experience here. This is used to fetch the correct prompts for the Novasonic agent in the healthcare experience.
